body{background-color:#FDF5E6;}




.a-no-1{background-color: #999966;}
.a-no1-photo{width:40%;height:40%;margin: 0 2.3%;float: left;}
.a-no1-tex{margin: 0 2.3%;background-color: #EEEEEE;}

.p-no1{background-color: #CC9966;}
.p-no1-photo1{width:40%;height:40%;margin: 0 4.3%;}
.p-no1-photo2{width:39.5%;height:39.5%;margin: 0 4.3%;}
.p-no1-tex{background-color: #EEEEEE;}

.m-no1{background-color: #99CCFF;}
.m_no1_tex{background-color: #EEEEEE;}
